@{
    ViewData["Title"] = "Notes";
}

<div class="row">
    <div class="col-sm-12 mt-5" style="height: 1000vh;">
        <div class="row justify-content-center d-flex m-3">
            <div class="col-sm-6 rounded fs-2 fw-medium text-justify p-3">
                Rascunho
                <br>
            </div>
        </div>
        <div class="row justify-content-center d-flex m-3" style="font-size: 80%;">
            <div class="col-sm-6 rounded text-justify">
                <div class="form-floating">
                    <textarea class="form-control text-area-notes border-0 outline" placeholder="Leave a comment here" id="floatingTextarea2"
                        style="height: 100vh"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
